profiles {
  slurm {
    process.executor = 'slurm'
    process.queue = System.getenv('SLURM_PARTITION') ?: 'general'
    process.clusterOptions = System.getenv('SLURM_OPTS') ?: ''
    process.cpus = { task.attempt <= 1 ? 4 : 8 }
    process.memory = { task.attempt <= 1 ? '8 GB' : '16 GB' }
    process.time = { task.name in ['SALMON_INDEX','TXIMPORT_DESEQ2','FGSEA','REPORT'] ? '04:00:00' : '02:00:00' }
    conda.enabled = true
    conda.cacheDir = '.conda'
    publishDir = [
      path: 'results',
      mode: 'copy'
    ]
    workDir = "${params.workDir ?: 'work'}"
    errorStrategy { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
    maxRetries = 2
  }
}
