.shepherd-element {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  opacity: 0;
  outline: none;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
}
.shepherd-element.shepherd-enabled {
  opacity: 1;
  visibility: visible;
}
.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.shepherd-content {
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}
.shepherd-header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}
.shepherd-title {
  color: rgba(0, 0, 0, 0.85);
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.shepherd-cancel-icon {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  padding: 0;
  transition: color 0.2s ease;
}
.shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, 0.75);
}
.shepherd-text {
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0.75rem 0;
  padding: 0 0.75rem;
}
.shepherd-footer {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem;
}
.shepherd-button {
  background: #3288e6;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 0.75rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  vertical-align: middle;
}
.shepherd-button:not(:last-child) {
  margin-right: 0.5rem;
}
.shepherd-button:hover {
  background: #206dbe;
}
.shepherd-button.shepherd-button-secondary {
  background: #f1f2f3;
  color: rgba(0, 0, 0, 0.75);
}
.shepherd-button.shepherd-button-secondary:hover {
  background: #d6d9dc;
  color: rgba(0, 0, 0, 0.75);
}
.shepherd-arrow,
.shepherd-arrow::before {
  position: absolute;
  width: 16px;
  height: 16px;
  background: inherit;
}
.shepherd-arrow {
  visibility: hidden;
}
.shepherd-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
.shepherd-element[data-popper-placement^='top'] > .shepherd-arrow {
  bottom: -8px;
}
.shepherd-element[data-popper-placement^='bottom'] > .shepherd-arrow {
  top: -8px;
}
.shepherd-element[data-popper-placement^='left'] > .shepherd-arrow {
  right: -8px;
}
.shepherd-element[data-popper-placement^='right'] > .shepherd-arrow {
  left: -8px;
}
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target {
  pointer-events: none;
}
.shepherd-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 9998;
}
.shepherd-modal-is-open .shepherd-modal-overlay {
  opacity: 1;
}
.shepherd-button:focus {
    outline: 1px dotted rgba(0,0,0,0.5);
}
